.VERIFIEDAGENT-button {
    background-color: deeppink;
color: black;
border: none;
height: 50px;
width: 120px;
border-radius: 4px;
cursor: pointer;
margin-right: 8;
vertical-align: top;
}

.VERIFIEDAGENT-button:hover {
background-color: chocolate;
background-color: rgb(247, 15, 69);
}
.join-button {
    background-color: cornsilk;
    border-color: rgb(4, 4, 92);
    border-style: solid;
    border-width: 1px;
    color: rgb(246, 107, 7);
    height: 44px;
    width: 90px;
    transition: opacity 0.20s;
    vertical-align: top;
}

.join-button:hover {
    background-color: cornsilk;
    color:  rgb(246, 107, 7);
}

.join-button:active {
    opacity: 0.7;
}

.contactadmin-button {
    background-color: green;
    color: snow;
    border: none;
    height: 60px;
    width: 110px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-left: 8;
    vertical-align: top;
}

.contactadmin-button:hover {
background-color: darkgreen;
opacity: 0.9;
}

.contactadmin-button:active {
    color: blue;
}

